.task {
	width: calc(100%-4px);
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	margin: 2px 2px;
	text-align: left;
	/*box-shadow: 3px 3px 3px #aaa;*/
	padding: 4px;
	border-radius: 0px;

	
}

.task p {
	margin: 2px;
	text-align: left;
	font-size: 0.8em;
	line-height: 17px;

}

.Checkbox{
	margin-top: 3px;
	margin-left: 1px;
	margin-right: 10px;
	float: left;
	border-radius: 0px;

}

.line{
	text-decoration: line-through;	
}




.header {
	height: 15px;
	margin-bottom: 5px;
}

.header span.right {
	cursor: pointer;
	float: right;
	padding-right: 5px; 
}

.header span.left {
	cursor: grab;
	float: left;
	margin-left: 2px;
}
