.dialog{
	width: 400px;
	height: 400px;
	border: 1px solid #000;
	background-color: #FFF;
	text-align: center;
	position: fixed;
	left: calc(50vw - 200px);
	top: calc(50vh - 200px);
	z-index: 20;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.dialog p {
	text-align: center;
}

.TextArea {
	text-align: center;
	border: 1px solid #000;
	width: 90%;
	margin: 0 auto;
}