.label {
	margin: 5px 0;
	border-bottom: 1px solid #000;
}

.header {
	padding: 5px 5px;
	font-size: 20px;
	border-bottom: 1px solid #000;
}

.header span.right {
	cursor: pointer;
	float: right;
}

.header span.left {
	line-height: 20px;
	float: left;
	margin-left: 2px;
	cursor: default;
}

.flexGrow{
	flex-grow: 1000;
	display: flex;
	margin-top: 10px;
}	

.adding {
	border: 1px solid #000;
	border-top: 2px solid #000;
	
	align-self: flex-end;
	bottom: 0px;
	border-radius: 5px;

}

.drop{
	display: flex;
	flex-direction: column;

	height: 100%;
}