.mainBox{
	margin: 10px;
}


.kanban {
	width: 100%;
	color: #000;
	background-color: #FFF;
	height: 100%;
	/*border: 1px solid #000;*/

	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: left;
  	overflow: auto;
}



 .column {
	width: 200px;
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	margin: 10px 0;
	margin-right: 20px;
	text-align: center;
	box-shadow: 5px 5px 5px #aaa;
	
	
	flex: 0 0 300px;
	display: flex;
	flex-direction: column;

}

.columnAdd{
	display: flex;
	justify-content: center;
	
	color: #000;
	background-color: #FFF;
	height: 100px;
	position: fixed;
	right: 5px;
	top: 35px;
}


 .itemNew {
	width: 250px;
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	
	text-align: center;
	box-shadow: 5px 5px 5px #aaa;
	border-radius: 5px;
	flex: 0 0 250px;
	display: flex;
	flex-direction: column;

}